<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Messy Room</title>

  <link rel="shortcut icon" type="img/png" href="/mesroom/img/fav.png" />

  <link rel="stylesheet" href="/mesroom/fonts.css">
  <link rel="stylesheet" href="/mesroom/messyroom.css">

  <script src="/mesroom/messyroom.js"></script>
</head>

<body>
  <div id="viewSpan">
    <div id="c-body">
      <div class="c-main">
        <div class="l-scroll">
          <div class="c-scroll">
            <div class="c-scroll__holder c-scroll__holder--top">
              <div class="c-scroll__knob">
                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
              </div>
              <div class="c-scroll__roll c-scroll__roll--top"></div>
              <div class="c-scroll__knob">
                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
              </div>
            </div>
            <div class="c-scroll__paper">
              <div class="c-scroll__content">
                <div class="c-scroll__text">
                  <h2 class="c-scroll__heading">That's the spirit!!!</h2>
                  <br>
                  <p class="c-scroll__paragraph">
                    <button id="proceedButton">
                      Continue
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="c-scroll__holder c-scroll__holder--bottom">
              <div class="c-scroll__knob">
                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
              </div>
              <div class="c-scroll__roll c-scroll__roll--bottom"></div>
              <div class="c-scroll__knob">
                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-candle">
          <div class="c-flame">
            <div class="c-flame__shadows"></div>
            <div class="c-flame__top"></div>
            <div class="c-flame__middle"></div>
            <div class="c-flame__bottom"></div>
          </div>
          <div class="c-candle__wick"></div>
          <div class="c-candle__wax"></div>
        </div>
      </div>
    </div>
    <div class="room">
      <div class="wall" id="floor">
        <div class="paper" id="newspaper">
          <div class="banner">
            <h2>Dyuksha Times</h2>
          </div>
          <div class="heading">
            <h3 class="title_right">Nov 9 | 2018</h3>
            <header class="title_center">
              <h1 class="dyukshaHeadline">DYUKSHA is ON!!!</h1>
              <h3 class="dyukshaHeadline">Great Things Are Coming</h3>
            </header>
            <h3 class="title_right">
              NSSCE<br>Palakkad
            </h3>
          </div>
          <h2 class="title">
            News desk - Dyuksha
          </h2>
          <div class="body">
            <div class="col_1">
              <h3 class="al_l p_l">Blockchain Workshop</h3>
              <p class="al_l indent">
                Want to dive into the world of cryptography and cryptocurrency but don't know what it is and how it
                works? We got the thing for you! Dyuksha'18 present to you a workshop on Blockchain
              </p>
              <h3 class="al_l p_l">Robotic Arm Workshop</h3>
              <p class="al_l indent">
                DYUKSHA'18 gives you a distinct opportunity to hone your robotics skills. This workshop will
                familiarise you with the concepts of Arduinoprogramming and the working of Servo motors.
              </p>
            </div>
            <div class="col_2">
              <figure id="dLogoFig">
                <img id="dLogoNP" src="/mesroom/img/dLogo.png" />
                <figcaption>
                  <b>DYUKSHA IS ONLINE @ https://www.dyuksha.org/</b>
                </figcaption>
              </figure>
            </div>
            <div class="col_3 b_t b_r b_l p_t">
              <h3> &nbsp;&nbsp;YO!! Dyuksha is here!!</h3>
              <div class="cols_2">
                <div>
                  <p class="al_l p_l indent">DYUKSHA is the national level techno-cultural fest organised by NSS
                    College of Engineering, Palakkad. This year, it is scheduled in the month of November for the dates
                    9 , 10 and 11. DYUKSHA consists of 60+ events in total,including 30+ cultural events and 10+
                    workshops of International standards. It gives you a platform to showcase your technical skills and
                    above all, to have an experience of a lifetime.</p>
                </div>
                <div>
                  <p class="al_l p_l p_r indent p_b">
                    The proshow organised by Dyuksha'18 is scheduled for Nov 11 2018. Tickets are being sold out. Grab
                    your seats soon!!!
                  </p>
                  <div class="p_t b_t b_l p_l p_r">
                    <h3 class="al_l p_l">LOOKING FOR A CLUE???</h3>
                    <p class="al_l indent">
                      <b>DA VINCI CODE:</b><br />
                      The treasure that you seek, You shall find only if you look at yourself.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wall">

      </div>
      <div class="wall">
        <div class="clock">
          <div class="clock-face">
            <div class="center"></div>
            <div class="center-red"></div>
            <div class="hand hour-hand"></div>
            <div class="hand min-hand"></div>
            <div class="hand seconds-hand"></div>

            <div class="hours"></div>

            <div class="hour twelve">
              <div>12</div>
            </div>
            <div class="hour three">
              <div>3</div>
            </div>
            <div class="hour six">
              <div>6</div>
            </div>
            <div class="hour nine">
              <div>9</div>
            </div>
          </div>
        </div>
      </div>
      <div class="wall">
        <img src="/mesroom/img/mirror.png" id="mirror">

      </div>
      <div class="wall" id="backwall">
        <div class="tv">
          <div class="monitor">
            <div class="highlight2"></div>
            <div class="highlight">
            </div>
            <div class="screen"></div>
            <div class="vcr">
              <div class="speaker"></div>
              <div class="speaker2"></div>
            </div>
          </div>
          <div class="controls">
            <div class="power"></div>
            <div class="av"></div>
            <div class="little-buttons"></div>
            <div class="vcr-buttons"></div>
            <div class="med-button"></div>
            <div class="more-buttons"></div>
            <div class="remote-sensor"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="overlay">
  </div>
</body>

</html>