<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pyramid</title>
    <link href="/pyram/pyramid.css" rel="stylesheet">
    <link href="/pyram/fonts.css" rel="stylesheet">

    <link rel="shortcut icon" type="img/png" href="/pyram/img/fav.png" />

    <script src="/pyram/pyramid.js"></script>
</head>

<body>
    <div id="container">
        <div id="c-body">
            <div class="c-main">
                <div class="l-scroll">
                    <div class="c-scroll">
                        <div class="c-scroll__holder c-scroll__holder--top">
                            <div class="c-scroll__knob">
                                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
                            </div>
                            <div class="c-scroll__roll c-scroll__roll--top"></div>
                            <div class="c-scroll__knob">
                                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
                            </div>
                        </div>
                        <div class="c-scroll__paper">
                            <div class="c-scroll__content">
                                <div class="c-scroll__text">
                                    <h2 class="c-scroll__heading">Good Going!!!</h2>
                                    <p class="c-scroll__paragraph">Let thy succeed...</p>
                                    <p class="c-scroll__paragraph">
                                        <button id="proceedButton">
                                            Let's Go!!!
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="c-scroll__holder c-scroll__holder--bottom">
                            <div class="c-scroll__knob">
                                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--left"></div>
                            </div>
                            <div class="c-scroll__roll c-scroll__roll--bottom"></div>
                            <div class="c-scroll__knob">
                                <div class="c-scroll__knob c-scroll__knob--small c-scroll__knob--right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-candle">
                    <div class="c-flame">
                        <div class="c-flame__shadows"></div>
                        <div class="c-flame__top"></div>
                        <div class="c-flame__middle"></div>
                        <div class="c-flame__bottom"></div>
                    </div>
                    <div class="c-candle__wick"></div>
                    <div class="c-candle__wax"></div>
                </div>
            </div>
        </div>
        <div class="sun">
            <div class="ray_box">
                <div class="ray ray1"></div>
                <div class="ray ray2"></div>
                <div class="ray ray3"></div>
                <div class="ray ray4"></div>
                <div class="ray ray5"></div>
                <div class="ray ray6"></div>
                <div class="ray ray7"></div>
                <div class="ray ray8"></div>
                <div class="ray ray9"></div>
                <div class="ray ray10"></div>
            </div>
        </div>
        <div id="puzzle">
            <div id="clueDiv">
                The answer lies within the corners. Follow the steps. The arrows may guide you...
            </div>
            <div id="gameDiv"></div>
        </div>
        <div id="cubeholder">
            <div id="cube">
                <div class="front">
                    <img src="/pyram/img/dLogo.png">
                </div>
                <div class="back">
                    <img src="/pyram/img/dLogo.png">
                </div>
                <div class="right">
                    <img src="/pyram/img/dLogo.png">
                </div>
                <div class="left">
                    <img src="/pyram/img/dLogo.png">
                </div>
                <div class="top">
                    <img src="/pyram/img/dLogo.png">
                </div>
                <div class="bottom">
                    <img src="/pyram/img/dLogo.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>